.control-label, .card-title {
    text-align: center !important;
    display: block;
    width: 100%;
    margin: 0px !important;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    align-items: center;
}

.input-a {
    grid-area: 1 / 1 / 2 / 2;
}

.input-b {
    grid-area: 1 / 2 / 2 / 3;
}

.input-c {
    grid-area: 2 / 1 / 3 / 2;
}

.input-d {
    grid-area: 2 / 2 / 3 / 3;
}

.input-e {
    grid-area: 1 / 3 / 2 / 4;
}

.input-f {
    grid-area: 2 / 3 / 3 / 4;
}

.input-p {
    grid-area: 1 / 4 / 3 / 5;
    margin: 5px !important;
}

.shiny-input-container {
    margin: 0
}
